body {
    background: black;
}

#container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 500px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    background: -webkit-linear-gradient(60deg,#4189a1,#363b63);
    background: -o-linear-gradient(60deg,#4189a1,#363b63);
    background: linear-gradient(30deg,#4189a1,#363b63);
}

 #calc-display {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    color: white;
    padding-bottom: 2px;
}

#display-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 10px;
    font-size: 1.35em;
}


#display-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 1fr;
    grid-template-columns: 4fr 1fr;
    height: 120px;
    text-align: right;
}

#display-body p {
    font-size: 2.45em;
    margin-right: 10px;
}

#display-body button {
    background: none;
}

#display-historic p {
    font-size: 1.20em;
    padding: 0 10px;
    text-align: right;
}

.btn-backspace {
    background-image: url(baseline_backspace_black_18dp.png);
    background-repeat: no-repeat;
    background-position: 50%;
    color: rgba(255, 255, 255, 0);
    font-size: 1px !important;
}

.btn-backspace:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

#keyboard {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-columns: auto 2px auto 2px auto 2px auto;
    grid-template-columns: auto auto auto auto;
    -ms-grid-rows: auto 2px auto 2px auto 2px auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 2px;
    margin: 4px;
}

#keyboard > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#keyboard > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

#keyboard > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

#keyboard > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

#keyboard > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

#keyboard > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

#keyboard > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

#keyboard > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

#keyboard > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

#keyboard > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

#keyboard > *:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}

#keyboard > *:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}

#keyboard > *:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

#keyboard > *:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}

#keyboard > *:nth-child(15) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}

#keyboard > *:nth-child(16) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
}

#date {
    text-align: center;
    width: 50%;
}

#hour {
    text-align: center;
    width: 50%; 
}
.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
    border-radius: 10px;
}

.btn-number {
    background-color: #feffff;
}

.btn-number:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.btn-simbols {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.btn-simbols:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.m-0 {
    margin: 0;
}

